xsd-analizer-lib/src/test/resources/ve/web/chebetos/xsd_analizer/lib/schema-test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/schema-test"
	xmlns:tns="http://www.example.org/schema-test" elementFormDefault="qualified">

    <element name="basicElement" type="string"></element>

    <element name="simpleTypeElement" type="string"></element>

    <element name="complexTypeElement" type="string"></element>

</schema>